# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://lpvvcgrfynbqkervppsx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_VyiputyGtotGGS5Jz1EW-A_9ZhAVydH
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
DATABASE_URL=postgresql://postgres.lpvvcgrfynbqkervppsx:Serena10092025077@aws-1-eu-west-1.pooler.supabase.com:5432/postgres

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=EducNest
NEXT_PUBLIC_SITE_DESCRIPTION=La boussole qui guide l'étudiant dès ses premiers pas académiques

# Environment
NODE_ENV="development"
